@font-face {
  font-family: "Lucida Sans Italic";
  src: url(./assets/fonts/Lucida-Sans-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "SegoeWP";
  src: url(./assets/fonts/SegoeWP.ttf) format("truetype");
}

@font-face {
  font-family: "Asap Regular";
  src: url(./assets/fonts/Asap-Regular.otf) format("truetype");
}

@font-face {
  font-family: "SegoeUI-Light";
  src: url(./assets/fonts/Segoe-UI-Light.ttf) format("truetype");
}

@font-face {
  font-family: "PT Sans Regular";
  src: url(./assets/fonts/PT-Sans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "SegoeWP-Light";
  src: url(./assets/fonts/segoe-wp-light.ttf) format("truetype");
}

@font-face {
  font-family: "SegoeUi-Bold";
  src: url(./assets/fonts/segoe-ui-bold.ttf) format("truetype");
}

@font-face {
  font-family: "SegoeUI";
  src: url(./assets/fonts/Segoe-UI.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.wrapper {
  width: 1300px;
}

header {
  display: flex;

  width: 100%;
  height: 160px;

  background: url(./assets/images/background1.png) no-repeat;
}

header h1 {
  margin: 52px 0 0 4px;

  font-family: "Lucida Sans Italic";
  font-size: 41px;
  font-weight: normal;
  color: #FFFFFF;
}

.logo {
  margin: 29px 0 0 140px;
}

.navshadow1,
.navshadow2,
nav {
  width: 453px;
  height: 41px;

  background-color: #F5C506;
}

.navshadow1 {
  margin: 64px 0 0 250px;

  opacity: 0.27;
}

.navshadow2 {
  margin: -38px 0 0 254px;

  opacity: 0.27;
}

header nav {
  display: flex;

  margin: -36px 0 0 258px;

  font-family: "SegoeWP";
  font-size: 17px;
  color: #9B7D08;
  letter-spacing: 0;
}

.about {
  flex: 1;

  padding-top: 8px;

  border-right: 1px solid #9B7D08;
  text-align: center;
}

.about img {
  transform: translate(0px, 3px);
}

.services {
  flex: 1;

  padding-top: 8px;

  border-right: 1px solid #9B7D08;
  text-align: center;
}

.services img {
  transform: translate(0px, 3px);
}

.contact {
  flex: 1;

  padding-top: 8px;

  text-align: center;
}

.contact img {
  transform: translate(0px, 3px);
}

.player {
  display: flex;

  width: 100%;
  height: 406px;

  background: url(./assets/images/background1.png) no-repeat;
  background-position-y: -160px;
}

.video_wrapper {
  margin: 9px 0 0 118px;
}

.span_section {
  width: 482px;
  height: 406px;
  padding-top: 79px;

  font-size: 63px;
  letter-spacing: 1px;
  font-family: "Asap Regular";
}

.first_span_wrapper {
  text-align: center;
  color: #f5c506;
}

.second_span_wrapper {
  margin-top: -2px;
  padding-left: 15px;

  text-align: center;
  color: white;
}

.left_button {
  width: 32px;
  height: 57px;
  margin-top: 141px;

  background-color: #f5c506;
  opacity: 0.71;
}

.right_button{
  width: 32px;
  height: 57px;
  margin: 141px 0 0 90px;

  background-color: #f5c506;
  opacity: 0.71;
}

.left_button figure,
.right_button figure {
  padding-top: 18px;

  text-align: center;
}

.icons {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  height: 212px;
  padding: 0 140px 0 139px;

  font-family: "SegoeUI-Light";
  font-size: 27px;
  letter-spacing: 0px;
  font-weight: 300;

  background: url(./assets/images/background2.png) no-repeat;
}

.design {
  padding: 64px 0 0 87px;

  letter-spacing: 0.3px;

  border-left: 1px solid rgba(0, 0, 0, 0.14);
}

.design figure img {
  transform: translate(26px,-2px);
}

.custom {
  padding: 44px 0 0 111px;

  border-left: 1px solid rgba(0, 0, 0, 0.14);
}

.custom figure img {
  transform: translate(24px,-6px);
}

.free {
  padding: 56px 0 0 112px;

  letter-spacing: 0.3px;

  border-right: 1px solid rgba(0, 0, 0, 0.14);
  border-left: 1px solid rgba(0, 0, 0, 0.14);
}

.free figure img {
  transform: translate(6px,-1px);
}

.tweet {
  height: 509px;

  padding-left: 139px;

  background: url(./assets/images/background3.png) no-repeat;
}

.div_head {
  padding-top: 33px;
  font-family: "PT Sans Regular";
  font-size: 37px;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.tweet_container {
  display: flex;

  padding-top: 31px;
}

.section_text {
  width: 341px;
  height: 233px;
  padding: 16px 0 0 30px;

  background-color: #EC9E03;
}

.section_text p {
  font-family: "SegoeWP-Light";
  font-size: 29px;
  letter-spacing: 0.3px;
  line-height: 38px;
  font-weight: 300;
  color: white;
  text-align: left;
}

.section_text figure img {
  transform: translateX(285px);
}

.section_video{
  width: 315px;

  overflow: hidden;
}

.section_video video{
  margin-left: -34px;
}

.section_tweet {
  width: 329px;
  height: 233px;
  margin-left: 34px;

  font-family: "SegoeWP-Light";
  color: white;
  font-size: 25px;

  background-color: #EC9E03;
}

.span_container {
  padding: 11px 0 0 285px;
}

.fig_tweet {
  padding: 15px 0 0 83px;
}

.plus img {
  transform: translate(308px,-5px);
}

.calendar {
  width: 113px;
  height: 89px;
  padding-left: 29px;
  margin-top: 3px;

  background-color: #DDB101;
}

.calendar_first {
  margin: -9px 0 0 0;

  font-family: "SegoeUi-Bold";
  font-size: 51px;
  color: white;
}

.calendar_second {
  margin: -13px 0 0 3px;

  font-family: "SegoeUI";
  font-size: 21px;
  color:#B26529;
}

.svg_wrapper1 {
  padding: 43px 0 0 74px;
}

.svg_wrapper2 {
  padding-left: 321px;
  margin-top: -20px;
}